body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Wolves
      ul.nav.navbar-nav(role="main-nav")
        li
          a(href='/howls') Howls
  .container
    main(role="page-container")
